*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  gap: 40px;
}
.sub-container1 {
  background-color: rgb(12, 155, 155);
  height: 70px;
  width: 6cm;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  
}

.sub-container2{
  display: flex;
  background-color: rgb(149, 147, 8);
  height: 70px;
  width: 2cm;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 10px;
}

.text {
  font-size: xx-large;
}

.text2 {
  color:black;
  font-size: larger;
}

.body{
  margin-top: 50px;
}

.container2{
  background-color: rgb(144, 9, 151);
  margin-top: 15px;
  height: 70px;
  width: 6cm;
  border-radius: 10px;
  margin-left: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: black;
  
}

.text3{
  color: black;
  
}